<h2 class="text-center">Lista de ventas</h2>

<div class="sales-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Total</th>
    
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of ventas">
        <td style="text-align: left; vertical-align: middle;">{{ sale._id }}</td>
        <td style="text-align: left; vertical-align: middle;">{{ sale.date.slice(0, 10) }}</td>
        <td style="text-align: left; vertical-align: middle;">${{ sale.total }}</td>
        <td>
          <button  type="button"  class="btn btn-danger" (click)="confirmDelete(sale.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="ventas.length === 0" class="text-center">
    <h3 class="no-sales-message">No hay ventas realizadas aún...</h3>
  </div>
</div>
